services:
  db:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  nodejs:
    build: .
    container_name: nodejs-task-tracker
    environment:
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: db
      DB_HOST: db
      DB_PORT: 5432
      PORT: 3000
    ports:
      - "3001:3000"
    depends_on:
      - db

volumes:
  pgdata: